<% content_for :javascripts do %>
  <script type="text/javascript" src="javascript/main.js" charset="utf-8"></script>
<% end %>

<% content_for :title do %>
  OpenCopa 2014 - Por debaixo dos gramados
<% end %>

<% content_for :header_legenda do %>
  <div class="floating-menu">
    <ul class="legenda">
      <li class="verde li1"><span></span>Contratado e executado</li>
      <li class="laranja li2"><span></span>Contratado acima do previsto</li>
      <li class="amarelo li1"><span></span>Contratado e n&atilde;o executado</li>
      <li class="vermelho li2"><span></span>Executado acima do previsto</li>
      <li class="cinza li1"><span></span>N&atilde;o contratado</li>
      <li class="problema li2"><span></span>Ultrapassou 100% do previsto</li>
    </ul>
  </div>
<% end %>

<div class="corpo home">
  <% Tema.all.each do |tema| %>
    <div class="quadro">
      <div id="<%= tema[:name] %>">
        
        <% unless tema[:name] == 'seguranca' %>
          <a href="/tema/<%= tema[:name] %>">
            <div class="a_botao">Ver Cidades <span class="a_seta">>></span></div>
        <% end %>

          <div id="<%= tema[:name] %>_circulo" class="circulo">
            <div class="porcento_0">100%
              <div class="marcador"></div>
            </div>
            <div class="porcento_50">50%
              <div class="marcador"></div>
            </div>
          </div>
          <div class="image-title"></div>

        <% unless tema[:name] == 'seguranca' %>
          </a>
        <% end %>

        <h1><%= tema[:label] %></h1>
        <p>Verba prevista: <span id="valor_previsto_<%= tema[:name] %>"></span></p>
        <ul class="legenda">
          <li class="amarelo">
            <div class="square"></div>
            <span id="porcentagem_<%= tema[:name] %>_contratado"></span>% Contratado
          </li>
          <li class="verde">
            <div class="square"></div>
            <span id="porcentagem_<%= tema[:name] %>_executado"></span>% Executado
          </li>
        </ul>
        <div id="grafico_<%= tema[:name] %>" class="grafico_yx"></div>
      </div>
    </div>
  <% end %>
  <div style="clear:both"></div>
</div>
