<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <title><%= yield_content :title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
    <meta name="author" content="Alexandre Gomes, Wesley Rocha, Célio Latorraca">

    <%= yield_content :stylesheets %>

    <script type="text/javascript" src="javascript/jquery-1.8.2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascript/raphael.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascript/g.raphael.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascript/g.line.js" charset="utf-8"></script>

    <script type="text/javascript" src="javascript/geradorGraficos.js" charset="utf-8"></script>

    <%= yield_content :javascripts %>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35666605-1']);
      _gaq.push(['_setDomainName', 'opencopa.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>
    <div class="top">
        <div class="top_area">
            <div class="bola"></div>

            <div class="menu">
                <a href="/" title="Home" rel="home">
                    <h1>
                        <div>OpenCopa</div>
                        <div class="subtitle">Por debaixo dos gramados</div>
                    </h1>
                </a>
          
                <ul class="legenda">
                    <li class="vermelho"><span></span>Não contratado</li>
                    <li class="amarelo"><span></span>Contratado e não executado</li>
                    <li class="verde"><span></span>Executado</li>
                </ul>

                <% menu = (yield_content(:menu) || "investimentos").strip %>
                <a href="/" title="Mostrar todos os temas" rel="home" class="investimentos <%= menu == 'investimentos' ? 'marcado' : '' %>">
                    Mostrar principais temas
                </a>
                <!-- <a href="/proporcao-de-valores" title="Proporção de valore" class="proporcao <%= 'marcado' if menu == 'proporcao' %>">
                    Proporção de valores
                </a> -->
                <a href="http://transparencia.gov.br/copa2014/dados/home.seam" title="Baixe os dados" target="_blank" class="download" rel="nofollow"></a>
            </div>
        </div>
    </div>

    <div class="corpo">
    	<%= yield %>
    </div>

     <div id="rodape">
        <div id="autor"><label>Autor:</label>Wesley Rocha - Designer de Interfaces</br>
          E-mail: wesleyweb@gmail.com</br></br>
          <a id="linkedin" title="Contato do linkdin" href="br.linkedin.com/in/wesleyrocha1" target="_blank" rel="nofollow">Contato do linkdin</a>
          <a id="facebook" title="Contato do facebook" href="http://www.facebook.com/wesley.rocha.10048" target="_blank" rel="nofollow">Contato do facebook</a>
          <a id="twitter" title="Contato do twitter" href="https://twitter.com/wesleyrocha" target="_blank" rel="nofollow">Contato do twitter</a>
          <a id="lattes"  title="Currículo Lattes" href="http://lattes.cnpq.br/5660156278323141" target="_blank" rel="nofollow">Currículo Lattes</a>
        </div>
        <div id="colaboradores"><label>Colaboradores:</label>
          <ul>
            <li>Leonardo Antonialli - SEA Tecnologia e FAC SENAC</li>
            <li>Alexandre Gomes - SEA Tecnologia</li>
            <li>Célio Latorraca - SEA Tecnologia</li>
          </ul>
        </div>
        <div id="patrocinador"><label>Patrocinador:</label><a href="http://www.seatecnologia.com.br" title="SEA Tecnologia" target="_blank"><img title="SEA Tecnologia" src="/images/logo_SEA.png"></a></div>
        <div style="clear:both"></div>
      </div>
</body>
</html>