<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/main.css" />
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="/javascript/tema.js" charset="utf-8"></script>
<% end %>

<% content_for :title do %>
  OpenCopa 2014 - Por debaixo dos gramados
<% end %>

<div class="quadro_moudura">
	<div class="quadro_interno">
		<div class="migalha"><a href="/">Principais Temas</a>&nbsp;::&nbsp;<span><%= @tema[:label] %></span></div>
		
		<nav>
			<% Empreendimento.temas.each do |tema| %>
				<% unless @tema[:name] == tema[:name] %>
					<a href="/tema/<%= tema[:name] %>"><%= tema[:label] %></a>
				<% end %>
			<% end %>
		</nav>

		<div id="<%= @tema[:name] %>">
			<div id="<%= @tema[:name] %>_circulo" class="circulo">
				<div class="porcento_0">0%
		          <div class="marcador"></div>
		        </div>
		        <div class="porcento_50">50%
		          <div class="marcador"></div>
		        </div>
			</div>
			<div class="image-title"></div>
		</div>

		<% Empreendimento.cidades_sede.each do |cidade_sede| %>
			<div id="<%= cidade_sede[:name] %>_circulo" class="cidades <%= cidade_sede[:name] %>">
				<div class="texto">
					<h2><%= cidade_sede[:label] %></h2>
				</div>
				<div class="seta_posicao">
					<div class="seta"></div>
				</div>
			</div>
		<% end %>

	</div>
</div>

<script type="text/javascript">
  var json_investimentos = <%= @investimentos.to_hash.to_json %>;

  var cidades_sede = [];
  <% @cidades_sede.each do |cidade_sede| %>
  	cidades_sede.push({
  		name: "<%= cidade_sede.first %>",
  		json: <%= cidade_sede.second.to_hash.to_json %>
  	});
  <% end %>
</script>

